@page
@model OpposingViewpoints.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<br />
<h3>Hello!</h3>
<p>
    This site uses Semantic Scholars free api to get relevant articles and ChatGPT 3.5 to analyze the sentiment of the articles. My prompt for Chat GPT is 100% unbiased. Some information for the home page is obtained from procon.org, so please support them as well.
</p>
<p>
    I pay to provide this service so please consider donating:<br />
    <img class="cypto-icon" src="https://raw.githubusercontent.com/ErikThiart/cryptocurrency-icons/master/16/ethereum.png" /> ETH: 0x2D8BDeC4ba9FCd04340BC73bfD7d2D5dB41D0087 <br />
    <img class="cypto-icon" src="https://raw.githubusercontent.com/ErikThiart/cryptocurrency-icons/master/16/tezos.png" /> XTZ: tz1i1obBJZNmMjQXHocSQwxezcSAuWYyp9cp <br />
    <img class="cypto-icon" src="https://raw.githubusercontent.com/ErikThiart/cryptocurrency-icons/master/16/bitcoin.png" /> BTC: bc1qxj3cmgjkd4g9j6u55g4jnwmr0a0r58zan9cuc5 <br />
    <img class="cypto-icon" src="https://raw.githubusercontent.com/ErikThiart/cryptocurrency-icons/master/16/stellar.png" /> XLM: GBRGCRBPJZLAJYZFPPNDZXLN5KLXOP5QX35FKEJSEIGY5BR7XIFSWCTF <br />
    <img class="cypto-icon" src="https://raw.githubusercontent.com/ErikThiart/cryptocurrency-icons/master/16/bitcoin-cash.png" /> BCH: qzgrulgx3pqk0pp7a9npd0kt2ra6gsrxf5ytf55tgh
</p>