@page
@model OpposingViewpoints.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>Hello!</h2>
<p>
    This site uses Semantic Scholars free api to get relevant articles and ChatGPT 3.5 to analyze the sentiment of the articles.
</p>
<p>I pay for this service so please consider donating ETH: 0x2D8BDeC4ba9FCd04340BC73bfD7d2D5dB41D0087</p>