@page
@model OpposingViewpoints.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<pre>
Welcome to Can of Worms! 

We're dedicated to providing our users with the most relevant and unbiased information possible. 
To achieve this goal, we use the Semantic Scholar API to gather relevant articles and ChatGPT 3.5 to analyze the sentiment of those articles. 
Our prompt for ChatGPT is 100% unbiased, ensuring that the information we provide is free of any personal bias or opinion.

We're proud to support procon.org, an organization that provides well-researched and unbiased information on controversial issues. 
Some of the information on our home page is obtained from procon.org, and we encourage our users to support this important organization as well.

Our mission is to provide our users with the most accurate and reliable information possible, so they can make informed decisions on a variety of topics. 
We're constantly updating our site to ensure that our users have access to the latest and most relevant information available.

If you have any questions or feedback, please don't hesitate to reach out to us. 
We're always looking for ways to improve our site and provide a better user experience. 

Thank you for visiting our site, and we hope you find the information we provide to be informative and helpful.
</pre>
<p>
    I pay to provide this service so please consider donating:<br />
    <img class="cypto-icon" src="https://raw.githubusercontent.com/ErikThiart/cryptocurrency-icons/master/16/ethereum.png" /> ETH: 0x2D8BDeC4ba9FCd04340BC73bfD7d2D5dB41D0087 <br />
    <img class="cypto-icon" src="https://raw.githubusercontent.com/ErikThiart/cryptocurrency-icons/master/16/tezos.png" /> XTZ: tz1i1obBJZNmMjQXHocSQwxezcSAuWYyp9cp <br />
    <img class="cypto-icon" src="https://raw.githubusercontent.com/ErikThiart/cryptocurrency-icons/master/16/bitcoin.png" /> BTC: bc1qxj3cmgjkd4g9j6u55g4jnwmr0a0r58zan9cuc5 <br />
    <img class="cypto-icon" src="https://raw.githubusercontent.com/ErikThiart/cryptocurrency-icons/master/16/stellar.png" /> XLM: GBRGCRBPJZLAJYZFPPNDZXLN5KLXOP5QX35FKEJSEIGY5BR7XIFSWCTF <br />
    <img class="cypto-icon" src="https://raw.githubusercontent.com/ErikThiart/cryptocurrency-icons/master/16/bitcoin-cash.png" /> BCH: qzgrulgx3pqk0pp7a9npd0kt2ra6gsrxf5ytf55tgh
</p>