@page
@using OpposingViewpoints.Models
@model IndexModel
@{
    ViewData["Title"] = "Search for opposing articles on controversial topics";
}
<div class="text-center">
    <h1 class="display-4 home-page-text">Enter a topic you'd like to search for opposing viewpoints on:</h1>
    <div class="form">
        <form method="post" class="d-inline-flex justify-content-center" style="max-width:70%;">
            <input class="form-control" type="text" id="searchTerm" name="searchTerm" style="width:350px;" placeholder="Enter a topic you'd like opposing viewpoints on" />
            <input id="searchBtn" class="btn btn-secondary" type="submit" value="Search" asp-page-handler="SearchArticles" />
        </form>
    </div>
</div>
<script>
    let terms = ["climate change", "gun rights", "immigration", "womens rights", "LGBTQ+ rights", "abortion", "cancel culture", "free speech", "affirmative action", "animal testing", "legalization of drugs", "death sentence", "privacy and surveillance", "mandatory vaccinations", "wealth distribution", "artificial intelligence in the workforce", "cultural appropriation", "nuclear power", "religious freedom", "GMOs", "assisted suicide"]
    async function asyncWhileLoop() {
        let i = Math.floor(Math.random() * (terms.length - 1 - 0 + 1)) + 0;
        while (true) {
            if (i >= terms.length) {
                i = 0;
            }
            let term = terms[i];
            for (let j = 0; j < term.length + 1; j++) {
                document.getElementById("searchTerm").placeholder = term.substring(0, j);
                await new Promise(resolve => setTimeout(resolve, 50));
            }
            await new Promise(resolve => setTimeout(resolve, 2000));
            for (let j = term.length + 1; j >= 0; j--) {
                document.getElementById("searchTerm").placeholder = term.substring(0, j);
                await new Promise(resolve => setTimeout(resolve, 50));
            }
            await new Promise(resolve => setTimeout(resolve, 100));
            i++;
        }
    }
    asyncWhileLoop();
</script>