@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div style="white-space: pre-wrap;">
Effective date: May 4, 2023

This Privacy Policy describes the policies and procedures of Can of Worms ("we", "our" or "us") with respect to the collection, use and disclosure of information on our website https://canofworms.app/ (the "Site").

Information We Collect and Use

We do not collect any personal information from our users. We do, however, use Google AdSense to display advertisements on our Site. Google AdSense may collect certain information about your visit to our Site to provide advertisements that may be of interest to you. This information may include your IP address, the type of browser and device you use, and your browsing behavior on our Site.

For more information about how Google AdSense collects and uses information, please see Google's Privacy Policy: https://policies.google.com/privacy.

Cookies

We may use cookies to enhance your experience on our Site. Cookies are small files that a website or its service provider transfers to your computer's hard drive through your web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. If you turn cookies off, you won't have access to many features that make your experience on our Site more efficient.

California Privacy Rights

    California residents have the right to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please contact us at privacy@jesiii.me.

Changes to This Policy

We may update this Privacy Policy from time to time. If we make material changes to this policy, we will notify you by posting a notice on our Site. Your continued use of our Site following any changes to this policy constitutes your acceptance of the changes.

Contact Us

If you have any questions or concerns about this Privacy Policy, please contact us at privacy@jesiii.me.
</div>
