@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<pre>
    At Canofworms.app, we respect the privacy of our users and are committed to protecting it. This privacy policy explains how we collect, use, and safeguard your information while you use our website.

    Information we collect:

    We do not collect any user information. However, we do cache entries in the search bar. Please be careful not to put sensitive information in there as we are not responsible for any information entered.

    Third-party services:

    We use Google Adsense to serve ads on our website. Third party vendors, including Google, use cookies to serve ads based on a user's prior visits to your website or other websites. 
    Google's use of advertising cookies enables it and its partners to serve ads to your users based on their visit to your sites and/or other sites on the Internet. 
    Please refer to the Google Adsense privacy policy for more information on how they collect and use your data.

    Cookies:

    We use cookies to enhance your user experience and to personalize content and ads. You can control the use of cookies at the individual browser level. 
    If you reject cookies, you may still use our site, but your ability to use some features or areas of our site may be limited.

    Opting out:

    Users may opt out of personalized advertising by visiting <a href="https://www.google.com/settings/ads">Ads Settings</a>. 
    Alternatively, you can direct users to opt out of a third-party vendor's use of cookies for personalized advertising by visiting <a href="http://www.aboutads.info/choices/">www.aboutads.info</a>.

    Security:

    We take the security of your information seriously and have implemented various measures to protect your information from unauthorized access, misuse, or disclosure. 
    However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee its absolute security.

    Changes to this policy:

    We reserve the right to modify this privacy policy at any time. If we make material changes to this policy, we will notify you by email or by means of a notice on our website prior to the change becoming effective.

    Contact us:

    If you have any questions or concerns about our privacy policy, please contact us at privacy@canofworms.app.
</pre>
