html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px !important;
}

ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
    height: 0px;
}